{%extends 'parent.html'%}
{%load static%}
{%block slider%}
{%endblock%}

{%block body%}


<!-- slider start -->
<div class="row bg-danger">
    <div class="col-sm-12 p-0">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner"style="height:60vh;">
              <div class="carousel-item active">
                <img src="{%static 'img/Web-Banner-Partner-School.jpg'%}" class="d-block w-100 h-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{%static 'img/Web-Banner-Partner-School.jpg'%}" class="d-block w-100 h-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{%static 'img/Web-Banner-Partner-School.jpg'%}" class="d-block w-100 h-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="col-sm-12">
      <p class="text-center text-light pt-2">
       <b> TO KNOW  ADMISSION PROCESS, CALL – 9044554046, 9044554045</b>
      </p>
    </div>
</div>
 <!-- slider end -->

 <!-- welcome start -->
    <div class="row  my-4" data-aos="fade-up"
    data-aos-duration="3000"> 
      <div class="col-sm-12 text-center">
       <h2><b> Welcome to Seth Anandram Jaipuria School, Sadhu Campus -<br/> Barabanki</b></h2>
      </div>
      <div class="col-sm-10 mt-3 mx-auto">
        <div class="row row-cols-1 row-cols-md-2 g-4" data-aos="fade-up">
          <div class="col">
            <div class="card img-hover">
              <iframe class="w-100" style="height:46vh;" src="https://www.youtube.com/embed/M1156iKJgNo?si=ah0UAAQWw9Mz1vXa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"style="text-align:justify;">We, at <b>Seth Anandram Jaipuria School, Sadhu Campus - Barabanki,</b> are committed to our motto <b>‘Empower, Enthuse and Excel’</b>in providing quality education and teaching every child the necessary values to guide him/her through the journey of life. The school endows education for LIFE! Our prime mission is to create opportunities through a stimulating, safe, collaborative, and supportive environment that help student in attaining personal mastery, team spirit, and academic excellence.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0" data-aos="fade-up">
              <img src="{%static 'img/tivities-and-Closing-Ceremony-6-7f97nc10vycoxom2zjmnwshqxn7j9ur7cvsmexzg47k.jpeg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><a href="http://" class="text-decoration-none">Synopsis of Summer Camp Activities and Closing Ceremony</a></h5><br><br>
                <p class="card-text">...</p><br> <a href="#"class="text-decoration-none text-dark">READ MORE </a>
              </div>
            </div>
          </div>
        
          
      </div><hr>
      </div>
      
        <div class="col-sm-10 mt-3 mx-auto">

          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card border-0" data-aos="fade-up">
                <img src="{%static 'img/pri-primary-1024x682.png'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                   <b> PRE-PRIMARY & PRIMARY SCHOOL</b></h5>
                  <p class="card-text">The goal of education is not to increase the amount of knowledge but to create the possibilities for a child to invent and discover, to create individuals who are capable of doing.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-0" data-aos="fade-up">
                <img src="{%static 'img/midleclass-400x267.png'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b>MIDDLE SCHOOL</b></h5>
                  <p class="card-text">Student-centered teaching strategies focus instruction on the needs, preferences, and interests of the learner. Teachers act as facilitators of the learning process.</p>
                </div>
              </div>
            </div>
         
        </div>
      </div>
    </div>

    
  <!-- welcome end -->
   <!-- college start -->
   <div class="row text-light py-5"  data-aos="fade-up" style="background-size:cover; background-image:url({%static 'img/Sadhu-school-min.jpg'%});">
    <div class="col-sm-8 mx-auto py-5">
        <h3><b>UNIQUE FEATURES</b></h3>
        <p>Seth Anandram Jaipuria School, Sadhu Campus – Barabanki</p>
        <div class="row">
            <div class="col-sm-5">
                <ul type="none" data-aos="fade-up"
                data-aos-duration="3000">
                    <li><i class="fa-solid fa-angles-right"></i> Multipurpose Playground</li><br/>
                    <li><i class="fa-solid fa-angles-right"></i>  Rj Studio</li></br>
                    <li><i class="fa-solid fa-angles-right"></i>Computer lab</li></br>
                    <li><i class="fa-solid fa-angles-right"></i>Art & Craft Room</li></br>
                    <li><i class="fa-solid fa-angles-right"></i>Computer Science Lab</li></br>
                    <li><i class="fa-solid fa-angles-right"></i>Music Room</li></br>
                    <li><i class="fa-solid fa-angles-right"></i> Dance Room</li></br>
                    <li><i class="fa-solid fa-angles-right"></i>Well Stocked Libraries</li></br>
                </ul>
            </div>
            <div class="col-sm-5" data-aos="fade-up"
            data-aos-duration="3000">
                <ul type="none">
                    
                    <li><i class="fa-solid fa-angles-right"></i>  Monitored Surveillance & Security</li></br>
                    <li><i class="fa-solid fa-angles-right"></i>  GPS tracked School buses</li></br>
                    <li> <i class="fa-solid fa-angles-right"></i> Outdoor Kids Play Zone</li></br>
                    <li> <i class="fa-solid fa-angles-right"></i> School Infirmary</li></br>
                    <li> <i class="fa-solid fa-angles-right"></i> Kids Activity Room</li></br>
                    <li> <i class="fa-solid fa-angles-right"></i> Badminton Court</li></br>
                    <li> <i class="fa-solid fa-angles-right"></i> Upcoming facilities: Basketball Arena *</li></br>
                    
                </ul>
            </div>
        </div>

    </div>
</div>

    <!-- college end -->
     <!-- admission start -->
    <div class="row  w-100"  data-aos="fade-up" style="background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url({%static 'img/nanpara_bottom_strip.jpg'%});background-size:cover">
      <div class="row p-5">
          <div class="col-2"></div>
          <div class="col-8">
              <div class="row">
                  <div class="col-4">
                      <div class="row h-100" style="border-left: 4px solid red; background-color:rgba(0,0,150,0.4);">
                          <div class="text-light"><h3><b>ADMISSIONS OPEN 2024-25</b></h3>Seth Anandram Jaipuria School,</br>Sadhu Campus, Barabanki</div>
                  </div>
                  </div>
                  <div class="col-2"></div>
                  <div class="col-2 mx-auto">
                      
                  </div>
              </div>
          </div>
          <div class="col-sm-2 my-auto"><button class="btn btn-warning"><b>APPLY NOW</b></button></div>
      </div>
     </div>
     <!-- admission end -->

{%endblock%}
