
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Management Team - Seth Anandram Jaipuria School &#8211; Sadhu Campus, Barabanki</title>
</head> 
<body>
    {%extends 'parent.html'%}
    {%load static%}
    <!-- SLider Start -->
    {%block text%}
        SCHOOL MANAGEMENT TEAM </p>
        <h2 class="text-white">School Management Team</h2>
       
    {%endblock%}
    <!-- SLider END -->
     <!-- Body Start -->
      {%block body%}
     <div class="row">
        <div class="col-sm-10 mx-auto my-5 text-center fs-5">
            <div class="row my-5 ">
                <div class="col-sm-3  ">
                    <div class="card w-100  shadow  " style="border: 10px solid white; " >
                        <img src="{%static 'img/m1.jpg'%}" class="card-img-top rounded-0 " alt="...">
                       
                      </div>
                      <p class=" pt-3 fw-bold text-primary">Shri Sadhu Ram Ji</p>
                          <p class="fw-bold">Founder</p>
                </div>
                <div class="col-sm-3 ">
                    <div class="card w-100 shadow  " style="border: 10px solid white; " >
                        <img src="{%static 'img/m2.jpg'%}" class="card-img-top rounded-0 " alt="...">
                       
                      </div>
                      <p class=" pt-3 fw-bold text-primary">Smt. Sushmawati Ji</p>
                          <p class="fw-bold">Founder</p>
                </div>
                <div class="col-sm-3">
                    <div class="card w-100 shadow  " style="border: 10px solid white; " >
                        <img src="{%static 'img/chairman.jpg'%}" class="card-img-top rounded-0 " alt="...">
                       
                      </div>
                      <p class=" pt-3 fw-bold text-primary">Er. Ajay Chaudhary</p>
                          <p class="fw-bold">Chairman</p>
                </div>
                <div class="col-sm-3">
                    <div class="card w-100 shadow  " style="border: 10px solid white; " >
                        <img src="{%static 'img/direc.jpg'%}" class="card-img-top  rounded-0 " alt="...">
                       
                      </div>
                      <p class=" pt-3 fw-bold text-primary">Ms. Uma Chaudhary</p>
                          <p class="fw-bold">Founder</p>
                </div>
            </div>
        </div>
     </div>
     {%endblock%}
     <!-- Body End -->
</body>
</html>